<div id="page-content">
    <h1 class="text-center mt-4">Write an Article</h1>
<%= render "form" %>

<%= #link_to 'Cancel & Return to Index', articles_path
%> 
<%= #link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Delete article?"}
%>
</div>
